<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style/index.css">
  <title>Hospital Management System</title>
  
</head>
<style>
 
  a{
    text-decoration: none;
    color: white;
  }
</style>

<body>

  <header>
    <nav>
      <div class="logo">
        <a href="/">Hospital Management</a>
      </div>
      <div class="navbar">
        <a href="/admin.html">Admin</a>
        <a href="/doctor.html">Doctor</a>
        <a href="/patient.html">Patient</a>
        <a href="/about.html">About</a>
        <a href="/contact.html">Contact</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="options">
      <div class="option">
        <img src="/images/admin.jpg" alt="" srcset="">
        <button id="admin"><a href="admin.html" class="link">admin</a></button>
      </div>
      <div class="option">
        <img src="/images/doctor.jpg" alt="" srcset="">
        <button id="doctor"><a href="doctor.html" class="link">doctor</a></button>
      </div>
      <div class="option">
        <img src="/images/patient.jpg" alt="" srcset="">
        <button id="patient"><a href="patient.html" class="link">patient</a></button>
      </div>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Hospital Management System. All rights reserved.</p>
  </footer>

</body>

</html>
